

.booklists {
  width: 92%;
  margin: 50px auto;

  .booklists__title {
    background: #BDBEC2;
    color: white;
    padding: 10px 10px;
  }

  .booklists__wrapper {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
    margin-top: 20px;
    padding: 40px 0;

    .booklists__wrapper__book-photo {
      width: 25%;
      height: 220px;
      background: lightgray;
      color: white;
      font-weight: bold;
      text-align: center;
      line-height: 220px;
      font-size: 1.2rem;
      margin-right: 30px;
    }

    .booklists__wrapper__list {
      width: 70%;

      .booklists__wrapper__list-item__title {
        overflow-wrap: break-word;
      }

      .booklists__wrapper__list-item__reviewer {
        font-size: 0.9rem;
        margin-top: 10px;
        color:  gray;
        font-weight: bold;
        display: flex;

        .user-icon {
          display: inline-block;
          width: 12px;
          margin-right: 6px;
          fill: red;
        }
      }

      .booklists__wrapper__list-item__detail {
        font-size: 0.8rem;
        height: 150px;
        margin-top: 10px;
        flex-wrap: wrap;
        overflow: hidden;
      }

      .clear {
        clear: both;
      }


    }
  }

}