@use 'Common';

.booklists {
  width: 92%;
  margin: 50px auto;

  .booklists__description {
    padding: 30px 0;
  }

  .booklists__title {
    background: gray;
    color: white;
    padding: 10px 10px;
  }

  .booklists__wrapper {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
    margin-top: 20px;
    padding: 40px 0;

    .booklists__wrapper__book-image {
      @include Common.image(220px);
    }

    .booklists__wrapper__list {
      width: 70%;

      .booklists__wrapper__list-item__title {
        overflow-wrap: break-word;
      }

      .booklists__wrapper__list-item__reviewer {
        font-size: 0.9rem;
        margin-top: 10px;
        font-weight: bold;
        display: flex;

        .user-icon {
          display: inline-block;
          width: 12px;
          height: 20px;
          margin-right: 6px;
          fill: red;
        }
      }

      .booklists__wrapper__list-item__detail {
        font-size: 0.8rem;
        height: 150px;
        margin-top: 10px;
        flex-wrap: wrap;
        overflow: hidden;
      }

      .clear {
        clear: both;
      }


    }
  }

}