
$baseColor :#008080;


h1 {
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

@mixin container($width, $bgColor) {
  width: $width;
  background: $bgColor;
  margin: 50px auto;
  padding: 3%;
  border-radius: 7px;
  filter: drop-shadow(0 0 10px #C4C4C4);
}

@mixin signUpAndLoginFormArea() {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

@mixin HeadText {
  font-weight: bold;
  font-size: 1.7rem;
  text-align: center;
  color: $baseColor;
}

@mixin sendBtn() {
  width: 180px;
  margin: 50px auto;
  border: none;
  padding: 2%;
  color: white;
  font-size: 1rem;
  background: linear-gradient(0deg, #5EBEBE, $baseColor 70% );
  background: #5EBEBE;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

@mixin RequiredErrmsg() {
  margin-left: 160px;
  margin-top: 5px;
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}

@mixin  FailureMsg() {
  display: inline-block;
  color: red;
  font-weight: bold;
  margin-top: 40px;
}

@mixin loginAndLogputBtn($bgColor) {
  border: none;
  color: white;
  background:  $bgColor;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  height: 50px;
  margin: 25px;
}

