
body {
  padding-top: 120px;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  padding: 30px 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

@mixin container($width) {
  width: $width;
  margin: 60px auto;
}

@mixin formWrapper() {
  max-width: 100%;
  background: #f3f1e4;
  padding: 30px 40px;
}

@mixin navigateBtn($bgColor) {
  border: none;
  color: white;
  background:  $bgColor;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 6px;
  margin: 25px;
  padding: 10px 24px;
  width: fit-content;
  text-align: center;
  cursor: pointer;
}

@mixin hover() {
  opacity: 0.7;
  transition: 0.3s;
}

@mixin label() {
  display: inline-block;
  width: 20%;
  text-align: left;
}

@mixin RequiredErrmsg() {
  width: fit-content;
  margin-left: 20%;
  padding: 10px 0;
  color: red;
  font-weight: bold;
  font-size: 0.9rem;
}

@mixin image($height) {
  width: 25%;
  height: $height;
  background: gray;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: $height;
  font-size: 1.2rem;
  margin-right: 30px;

}
