@use 'Common';

.detail__container {
  @include Common.container(90%);

  .detail__container__book-info {
    display: flex;
    justify-content: space-between;

    .detail__container__book-info__image {
      @include Common.image(400px);
      width: 500px;
    }
    
    .detail__container__book-info__list {
      width: 58%;

      .detail__container__book-info__list__title {
        font-size: 1.1rem;

      }

      .detail__container__book-info__list__detailer {
        font-size: 0.9rem;
        margin-top: 20px;
      }

      .detail__container__book-info__list__detail {
        font-size: 0.9rem;
        margin-top: 20px;
      }
      
    }
  
  }

}