@use "Common";

$baseColor :#f3f1e4;

header {
  width: 100%;
  background: $baseColor;


  .header__wrapper {
    display: flex;
    justify-content: space-between;

    .header__wrapper__heading {
      color: skyblue;
      padding: 30px;
    }

    .header__wrapper__right {
      display: flex;

      .header__wrapper__right__user-info {
        padding: 15px 0;
        width: 170px;
      }

        .header__user-name {
          text-align: center;
          font-size: 0.8rem;
        }
    }

    .header__wrapper__logout-login-btn {
      @include Common.loginAndLogputBtn(#0085cd);
    }

    .header__wrapper__logout-login-btn:hover {
      opacity: 0.6;
      transition: 0.3s;
    }
    
  }

  .header__user-name {
    color: black;
    font-weight: bold;

    .user-icon {
      margin: 0 auto;
      display: block;
      width: 15%;
      text-align: center;
    }
  }

}
