@use "Common";

$baseColor :#f3f1e4;

header {
  width: 100%;
  background: $baseColor;

  .header__wrapper {
    display: flex;
    justify-content: space-between;

    .header__wrapper__heading {
      color: skyblue;
      padding: 30px;
    }

    .header__wrapper__right {
      display: flex;

      .header__wrapper__right__user-info {
        padding: 15px 0;
        margin-right: 16px;
        width: fit-content;

        .user-icon {
          width: 30px;
        }

        .header__user-name {
          text-align: center;
          font-size: 0.8rem;
        }

        .header__user-name p {
          padding-top: 5px;
        }

      }


      }

    .header__wrapper__signup-btn {
      @include Common.navigateBtn(#f25371);
      margin-right: 5px;
    }

    .header__wrapper__signup-btn:hover {
      @include Common.hover;
    }

    .header__wrapper__logout-login-btn {
      @include Common.navigateBtn(#0085cd);
      margin-left: 5px;
    }

    .header__wrapper__logout-login-btn:hover {
      @include Common.hover;
    }
    
  }

  .header__user-name {
    color: black;
    font-weight: bold;

    .user-icon {
      margin: 0 auto;
      display: block;
      width: 15%;
      text-align: center;
    }
  }

}
