@use "Common";

$baseColor :#008080;

header {
  width: 100%;
  background: $baseColor;


  .header__wrapper {
    display: flex;
    justify-content: space-between;

    .header__wrapper__heading {
      color: white;
      padding: 30px;
    }

    .header__wrapper__logout-login-btn {
      background: none;
      border: none;
      color: white;
      font-weight: bold;
      padding: 20px;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  .header__user-name {
    text-align: right;
    color: white;
    font-weight: bold;
    padding: 10px;
  }

}
