@use 'Common';

.login__container {
  width: 80%;
  margin: 60px auto;

  .login__container__form {
    max-width: 100%;
    background: #f3f1e4;
    padding: 55px 40px;

    .login__container__form, p:nth-child(1) {
      padding: 12px 0;
      font-weight: bold;
      font-size: 1.1rem;
    }

    .login__container__form__list {
      margin-top: 45px;

      .login__container__form__list-item {
        height: 90px;

        label {
          display: inline-block;
          width: 20%;
          text-align: left;
        }

        input {
          width: 70%;
          height: 30px;
          padding: 10px;
        }

        .required-errmsg {
          width: fit-content;
          margin-left: 25%;
          padding: 10px 0;
          color: red;
          font-weight: bold;
          font-size: 0.9rem;
        }
      }
    }

    .failure-msg {
      color: red;
      font-weight: bold;
    }

    .login__container__login-btn {
      @include Common.loginAndLogputBtn(#0085cd);
      margin: 0 auto;
    }
  }

  .login__container__signup {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }

}