@use 'Common';

.login__container {
  width: 80%;
  margin: 60px auto;

  .login__container__form {
    @include Common.formWrapper();

    .login__container__form, p:nth-child(1) {
      padding: 12px 0;
      font-weight: bold;
      font-size: 1.1rem;
    }

    .login__container__form__list {
      margin-top: 45px;

      .login__container__form__list-item {
        height: 90px;
        margin-top: 24px;

        label {
          display: inline-block;
          width: 20%;
          text-align: left;
        }

        input {
          width: 70%;
          height: 30px;
          padding: 10px;
        }

        .required-errmsg {
          @include Common.RequiredErrmsg();
        }
      }
    }

    .failure-msg {
      color: red;
      font-weight: bold;
    }

    .login__container__login-btn {
      @include Common.navigateBtn(#003acd);
      margin: 25px auto 0 auto;
    }

    .login__container__login-btn:hover {
      @include Common.hover;
    }
    
  }

  .login__container__signup {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }

}