@use 'Common';


.post-review__container {
  @include Common.container(80%);

  .post-review__container__form {
    @include Common.formWrapper();

      label {
        display: flex;
        margin-top: 55px;
        p {
          width: 30%;
        }
      }
      input {
        width: 65%;
        padding: 10px;
      }
      textarea {
        width: 65%;
        height: 100px;
        padding: 10px;
      }
      .required-errmsg {
        width: fit-content;
        margin-left: 30%;
        padding: 10px 0;
        color: red;
        font-weight: bold;
        font-size: 0.9rem;
      }

    .post-review__container__form__post-btn {
      @include Common.navigateBtn(#008080);
      margin: 100px auto 0 auto;
    }

    .post-review__container__form__post-btn:hover {
      @include Common.hover;
    }
  }

}