@use 'Common';

.profile__container {
  @include Common.container(80%);

  .profile__container__form {
    @include Common.formWrapper();

    .profile__container__form__current-user-name {
      margin-bottom: 40px;
    }

    .profile__container__form__new-user-name {
      width: 70%;
      height: 30px;
      padding: 10px;
    }

    label {
      @include Common.label();
    }

    .required-errmsg {
      @include Common.RequiredErrmsg();
    }

    .profile__container__form__updata-btn {
      @include Common.navigateBtn(tomato);
      margin: 25px auto;
    }

    .profile__container__form__updata-btn:hover {
      @include Common.hover;
    }

    .profile__container__form__back-btn {
      @include Common.navigateBtn(skyblue);
      margin: 25px 12px;
    }

    .profile__container__form__back-btn:hover {
      @include Common.hover;
    }

  }

}