@use 'Common';

.container {
  @include Common.container(50%, white);

  .head-text {
    @include Common.HeadText();
  }

  .signup-form {
    @include Common.signUpAndLoginFormArea();

    ul li{
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;

      label {
        display: block;
        margin-left: 0;
        text-align: left;
        width: 160px;
        font-size: 0.9rem;
      }
    }

    input {
      width: 60%;
      display: block;
    }

    .required-errmsg {
      @include Common.RequiredErrmsg();
    }

    .failure-msg {
      @include Common.FailureMsg();
    }

    .send-btn {
      @include Common.sendBtn();
    }
  }

  .go-to-login {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }

}
