@use 'Common';

.signup__container {
  @include Common.container();

  .signup__container__form {
    @include Common.formWrapper();

    .login__container__form, p:nth-child(1) {
      padding: 12px 0;
      font-weight: bold;
      font-size: 1.1rem;
    }

   .signup__container__form__list {
      margin-top: 45px;

      .signup__container__form__list-item {
        height: 90px;
        margin-top: 24px;

        label {
          @include Common.label();
        }

        input {
          width: 70%;
          height: 30px;
          padding: 10px;
        }

        .required-errmsg {
          width: fit-content;
          margin-left: 20%;
          padding: 10px 0;
          color: red;
          font-weight: bold;
          font-size: 0.9rem;
        }
      }
   }
   .failure-msg {
    color: red;
    font-weight: bold;
  }

  .signup__container__signup-btn {
    @include Common.navigateBtn(#f25371);
    margin: 25px auto 0 auto;
  }
  .signup__container__signup-btn:hover {
    @include Common.hover
  }

  }

}
